@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

#playerws{
  position: fixed;
  z-index: 10;
  background: rgb(15, 15, 15);
  height: max-content;
  width: 180px;
  top: 4.4vmax;
  transform: translateX(-180px);
  visibility: hidden;
  transition: transform .4s, visibility .4s;
  border-width: medium;
  border-radius: 0px 4px 4px 0px;
}

#pin_player{
  color: white;
}

#name_container{
  margin-top: 10px;
  margin-left: 6px;
  width: 168px;
  color: white;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#song_name{
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  animation: songtitle 8s linear infinite;
  animation-play-state: paused;
}

#album_cover{
  margin-top: 20px;
  margin-left: 20px;
  display: inline;
}

#playbutton{
  width: 35px;
  height: 35px;
}

#copybutton{
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
  float: right;
  display: block;
  transition: color .2s;
  transition-timing-function: ease-out;
}

#copybutton img{
  filter: grayscale(100%);
  transition: filter .2s;
}

#volume img{
  filter: brightness(0) invert(1);
  transition: filter .2s;
}

#copybutton:hover img{
  filter: none;
}

#volume img:hover{
  filter: none;
}

#copybutton:hover{
  color: rgb(191, 64, 191);
}

#seek-bar{
  margin-top: 5px;
  float: left;
  width: 100%;
}

#volume-bar{
  width: 85.6%;
}

/*volume number*/
#volumenumber{
  position: absolute;
  color: white;
  font-size: 14px;
  letter-spacing: .5px;
  left: 50%;
}

.duration, .current{
  opacity: 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.duration{
  float: right;
}

.current{
  float: left
}

.passbutton{
  cursor: pointer;
  transition: width .1s;
}

.passbutton:hover{
  width: 25px;
}

/*INPUT RANGE AREA INPUT RANGE AREA INPUT RANGE AREA INPUT RANGE AREA INPUT RANGE AREA INPUT RANGE AREA*/
input[type = "range"]{
  -webkit-appearance: none;
  background-color: rgb(30, 30, 30);
}

input[type = "range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type = "range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  margin: -5px 0 0 0;
  width: 10px;
  height: 15px;
  background-color: black;
  border: 1px solid rgb(191, 64, 191);
}

/*INPUT RANGE END INPUT RANGE END INPUT RANGE END INPUT RANGE END INPUT RANGE END INPUT RANGE END INPUT*/

th{
  width: 60px;
}

@keyframes songtitle {
  to{
    transform: translateX(-100%);
  }
}