@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

#playerws{
  position: fixed;
  z-index: 10;
  background: rgb(15, 15, 15);
  height: max-content;
  width: 180px;
  top: 4.4vmax;
  transform: translateX(-180px);
  visibility: hidden;
  transition: transform .4s, visibility .4s;
  border-width: medium;
  border-radius: 0px 4px 4px 0px;
}

#playerws:focus{
  outline: none;
}

#name_container{
  margin-top: 10px;
  margin-left: 6px;
  width: 168px;
  color: white;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#song_name{
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  animation: songtitle 8s linear infinite;
  animation-play-state: paused;
}

#album_cover{
  margin-top: 20px;
  margin-left: 20px;
  display: inline;
}

#copybutton{
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
  float: right;
  display: block;
  transition: color .2s;
  transition-timing-function: ease-out;
}

#copybutton img{
  filter: grayscale(100%);
  transition: filter .2s;
}

#volume img{
  filter: brightness(0) invert(1);
  transition: filter .2s;
}

#copybutton:hover img{
  filter: none;
}

#volume img:hover{
  filter: none;
}

#copybutton:hover{
  color: rgb(191, 64, 191);
}

#seek-bar{
  margin-top: 10px;
  float: left;
  width: 95%;
}

#volume-bar{
  width: 80%;
}

/*volume number*/
#volumenumber{
  position: absolute;
  color: white;
  font-size: 14px;
  letter-spacing: .5px;
  left: 50%;
}

#playpause{
  border-left: 1px solid rgb(30, 30, 30);
  border-right: 1px solid rgb(30, 30, 30);;
}

.songmetainfo{
  width: 100%;
  padding-left: 3px;
}

.songmetainfo tr{
  cursor: pointer;
}

.songmetainfo tr td{
  color: grey;
  font-size: 15px;
  letter-spacing: 1px;
  transition: color .1s;
}

.songmetainfo tr:hover td{
  color: rgb(191, 64, 191);
}

.songmetainfo a{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainbuttons{
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

.duration, .current{
  opacity: 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.duration{
  float: right;
}

.current{
  float: left
}

.mainbuttons{
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainbuttons th{
  width: 60px;
  cursor: pointer;
}

.mainbuttons th img{
  transition: width .1s;
}

.mainbuttons th:hover img{
  width: 23px;
}

/*CUSTOM CHECKBOX CUSTOM CHECKBOX CUSTOM CHECKBOX CUSTOM CHECKBOX CUSTOM CHECKBOX CUSTOM CHECKBOX CUSTOM*/
#pinbutton{
  position: absolute;
  top: 20px;
  left: 67.5%;
}

#pincheck {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#pincheck:not([disabled]):active + .container,
#pincheck:not([disabled]):focus + .container {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container {
  background: #0f0f0f;
  border-radius: 0px 0px 0px 10px;
  border-left: 1px solid rgb(191, 64, 191);
  border-bottom: 1px solid rgb(191, 64, 191); 
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 21px;
  margin-right: 12px;
  position: relative;
  width: 37.5px;
}

.checked {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1e1e1e;
  border-radius: 15px;
  bottom: 3px;
  left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
  width: 15px;
}

.checkmark {
  opacity: 0;
  /*height: $container_size;
  width: $container_size;*/
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

#pincheck:checked + .container .checked {
  background: #bf40bf;
  -webkit-transform: translateX(16.5px);
          transform: translateX(16.5px);
}

#pincheck:checked + .container .checked .checkmark {
  opacity: 1;
  -webkit-transition: opacity .2 ease-in-out;
  transition: opacity .2 ease-in-out;
}

/*CHECKBOX END CHECKBOX END CHECKBOX END CHECKBOX END CHECKBOX END CHECKBOX ENDCHECKBOX ENDCHECKBOX END */

/*INPUT RANGE AREA INPUT RANGE AREA INPUT RANGE AREA INPUT RANGE AREA INPUT RANGE AREA INPUT RANGE AREA*/
input[type = "range"]{
  -webkit-appearance: none;
  background-color: rgb(30, 30, 30);
}

input[type="range"]:active::-webkit-slider-thumb{
  transform: scale(1.1);
  background: rgb(191, 64, 191)
}

input[type = "range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  cursor: pointer;
}

input[type = "range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  margin: -5px 0 0 0;
  width: 10px;
  height: 15px;
  background-color: black;
  border: 1px solid rgb(191, 64, 191);
}

/*INPUT RANGE END INPUT RANGE END INPUT RANGE END INPUT RANGE END INPUT RANGE END INPUT RANGE END INPUT*/

@keyframes songtitle {
  to{
    transform: translateX(-100%);
  }
}